<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>
<hr class="division">
<%= link_to 'Nuevo', new_proveedore_path, :class=>"btn btn-primary btn-sm" %>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th class="w-50 text-center">Identificacion</th>
      <th class="w-50 text-center">Nombre</th>
      <th class="w-50 text-center">Idciudad</th>
      <th class="w-50 text-center">Iddpto</th>
      <th class="w-50 text-center">Dirreccion</th>
      <th class="w-50 text-center">Correo</th>
      <th class="w-50 text-center">Telefonos</th>
      <th class="w-50 text-center">Idtipoprov</th>
      <th class="w-50 text-center">Idestadoprov</th>
      <th class="w-50 text-center">Idcategoriaprov</th>
      <th class="w-50 text-center">Comentario</th>
    </tr>
  </thead>

  <tbody>
    <% @proveedores.each do |proveedore| %>
      <tr>
        <td><a href="/proveedores/<%= proveedore['id'] %>" "Mostrar"><%= proveedore.identificacion %></a></td>
        <td><%= proveedore.nombre %></td>
        <td><%= proveedore.idCiudad %></td>
        <td><%= proveedore.idDpto %></td>
        <td><%= proveedore.dirreccion %></td>
        <td><%= proveedore.correo %></td>
        <td><%= proveedore.telefonos %></td>
        <td><%= proveedore.idTipoProv %></td>
        <td><%= proveedore.idEstadoProv %></td>
        <td><%= proveedore.idCategoriaProv %></td>
        <td><%= proveedore.comentario %></td>
        <!--<td><%= link_to 'Show', proveedore %></td>
        <td><%= link_to 'Edit', edit_proveedore_path(proveedore) %></td>
        <td><%= link_to 'Destroy', proveedore, method: :delete, data: { confirm: 'Are you sure?' } %>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
