<h4>Informacion de proveedores</h4>
<hr class="division">
<%= link_to 'Regresar', proveedores_path,class:"btn btn-info" %>
<div class="container">
<p id="notice"><%= notice %></p>

<form>
<div class="form-group col-md-4">
  <label>Identificacion:</label>
  <input type="text" class="form-control" value="<%= @proveedore.identificacion %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Nombre:</label>
  <input type="text" class="form-control" value="<%= @proveedore.nombre %>on %>" readonly>
  
</div>

<div class="form-group col-md-4">
 <label>Idciudad:</label>
 <input type="text" class="form-control" value="<%= @proveedore.idCiudad %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Iddpto:</label>
  <input type="text" class="form-control" value="<%= @proveedore.idDpto %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Dirreccion:</label>
  <input type="text" class="form-control" value="<%= @proveedore.dirreccion %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Correo:</label>
  <input type="text" class="form-control" value="<%= @proveedore.correo %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Telefonos:</label>
  <input type="text" class="form-control" value="<%= @proveedore.telefonos %>" readonly>
 
</div>

<div class="form-group col-md-4">
  <label>Idtipoprov:</label>
  <input type="text" class="form-control" value="<%= @proveedore.idTipoProv %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Idestadoprov:</label>
  <input type="text" class="form-control" value="<%= @proveedore.idEstadoProv %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Idcategoriaprov:</label>
  <input type="text" class="form-control" value="<%= @proveedore.idCategoriaProv %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Comentario:</label>
  <input type="text" class="form-control" value="<%= @proveedore.comentario %>" readonly>
  
</div>
</form>

<% if @operaciones.include?("Modificar") %>
  <%= link_to 'Modificar', edit_proveedore_path(@proveedore), class:"btn btn-success" %>
<% end%>

 

</div>