<p id="notice"><%= notice %></p>

<p>
  <strong>Identificacion:</strong>
  <%= @proveedore.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedore.nombre %>
</p>

<p>
  <strong>Idciudad:</strong>
  <%= @proveedore.idCiudad %>
</p>

<p>
  <strong>Iddpto:</strong>
  <%= @proveedore.idDpto %>
</p>

<p>
  <strong>Dirreccion:</strong>
  <%= @proveedore.dirreccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedore.correo %>
</p>

<p>
  <strong>Telefonos:</strong>
  <%= @proveedore.telefonos %>
</p>

<p>
  <strong>Idtipoprov:</strong>
  <%= @proveedore.idTipoProv %>
</p>

<p>
  <strong>Idestadoprov:</strong>
  <%= @proveedore.idEstadoProv %>
</p>

<p>
  <strong>Idcategoriaprov:</strong>
  <%= @proveedore.idCategoriaProv %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @proveedore.comentario %>
</p>

<%= link_to 'Edit', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Back', proveedores_path %>
