<%= form_with(model: opcione, local: true) do |form| %>
  <% if opcione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opcione.errors.count, "error") %> prohibited this opcione from being saved:</h2>

      <ul>
      <% opcione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row col-sm-4">
    <%= form.label :idpadre %>
    <%= form.number_field :idpadre, id: :opcione_idpadre, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-4">
    <%= form.label :opcion %>
    <%= form.text_field :opcion, id: :opcione_opcion, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-4">
    <%= form.label :url %>
    <%= form.text_field :url, id: :opcione_url, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-4">
    <%= form.label :estadoopcion %>
    <%= form.text_field :estadoopcion, id: :opcione_estadoopcion, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-4">
    <%= form.label :orden %>
    <%= form.text_field :orden, id: :opcione_orden, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-1">
    <%= form.label :eshoja %>
    <%= form.check_box :eshoja, id: :opcione_eshoja, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-4">
    <%= form.label :controller %>
    <%= form.text_field :controller, id: :opcione_controller, class:"form-control" %>
  </div>

  <div class="field form-group row col-sm-4">
    <%= form.label :eliminado %>
    <%= form.number_field :eliminado, id: :opcione_eliminado, class:"form-control" %>
  </div>

<div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-secondary" %>
    <%= link_to 'Eliminar', opcione, :class => "btn btn-danger", method: :delete, data: { confirm: 'Confirme Eliminación?' } %>
  </div>
<% end %>
