<h4>Informacion de Personas</h4>

<hr class="division">
<div class="container">
<%= link_to 'Regresar', personas_path,class:"btn btn-info" %> 

<div id="notice"><%= notice %></div>

<form>
<div class="form-group col-md-4">
  <label>Nombres:</label>
  <input type="text" class="form-control" value=" <%= @persona.nombres %>" readonly>
</div>

<div class="form-group col-md-4">
  <label>Apellidos:</label>
  <input type="text" class="form-control" value="<%= @persona.apellidos %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Identificacion:</label>
<input type="text" class="form-control" value="<%= @persona.identificacion %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Correo:</label>
  <input type="text" class="form-control" value=" <%= @persona.correo %>" readonly>
 
</div>

<div class="form-group col-md-4">
  <label>Idestadopersona:</label>
  <input type="text" class="form-control" value="<%= @persona.idEstadoPersona %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Idtipopersona:</label>
   <input type="text" class="form-control" value="<%= @persona.idtipoPersona %>" readonly>
  
</div>

<div class="form-group col-md-4">
  <label>Idarea:</label>
  <input type="text" class="form-control" value="<%= @persona.idtipoPersona %>" readonly>
  <%= @persona.idarea %>
</div>

<div class="form-group col-md-4">
  <label>Idcargo:</label>
  <input type="text" class="form-control" value=" <%= @persona.idcargo %>" readonly>
 
</div>

<div class="form-group col-md-4">
  <label>Idtipoidentificacion:</label>
  <input type="text" class="form-control" value="  <%= @persona.idTipoIdentificacion %>" readonly>

</div>

<div class="form-group col-md-4">
  <label>Eliminado:</label>
  <input type="text" class="form-control" value="<%= @persona.eliminado %>" readonly>
  
</div>
</form>

<% if @operaciones.include?("Modificar") %>
<%= link_to 'Modificar', edit_persona_path(@persona), class:"btn btn-success" %> 
<% end%>



</div>