<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @persona.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @persona.identificacion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @persona.correo %>
</p>

<p>
  <strong>Idestadopersona:</strong>
  <%= @persona.idEstadoPersona %>
</p>

<p>
  <strong>Idtipopersona:</strong>
  <%= @persona.idtipoPersona %>
</p>

<p>
  <strong>Idarea:</strong>
  <%= @persona.idarea %>
</p>

<p>
  <strong>Idcargo:</strong>
  <%= @persona.idcargo %>
</p>

<p>
  <strong>Idtipoidentificacion:</strong>
  <%= @persona.idTipoIdentificacion %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @persona.eliminado %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
